# **PART \[1\] - SHOWCASE ALL 10 OF THE PROPOSITIONS AND QUERIES**

**Proposition \[I\] - Calculating the Total Discount Given by Each Employee**

- **Why Noteworthy?**
- _This query is useful for identifying high-performing employees or specific periods where freight values were unusually high. It combines aggregation with filters (like HAVING) to focus on employees who managed significant freight transactions, allowing businesses to target their most impactful workers._

In [ ]:
SELECT empid "Employee Identification Number(s)", YEAR(orderdate) AS "The Year of the Order(s)", COUNT(*) AS "Number(s) of Order(s)", MAX(freight) AS "Maximum Number(s) of Freight(s) (Goods or Cargo Being Transported)"
FROM Sales.Orders
GROUP BY empid, YEAR(orderdate)
HAVING MAX(freight) > 200;

**Proposition \[II\] -** **Identifying Customers Who Haven’t Ordered in the Last 6 Months**

- **Why Noteworthy?**
- _This query is significant for customer retention strategies. It helps businesses identify lapsed customers who haven’t engaged in recent months, allowing for targeted reactivation campaigns._

In [ ]:
SELECT custid AS "Customer Identification Number(s)", MAX(orderdate) AS "Date(s) of the Last Order(s) Placed by the Customer(s)"
FROM Sales.Orders
GROUP BY custid 
HAVING MAX(orderdate) < DATEADD(MONTH, -6, SYSDATETIME());

**Proposition \[III\] -** **Finding Employees with the Highest Average Order Value per Month**

- **Why Noteworthy?**
- _This query provides insights into employee performance in terms of sales efficiency. By calculating average order value and grouping by both employee and time period, it allows for detailed analysis of sales patterns and individual performance._

In [ ]:
SELECT empid AS "Employee Identification Number(s)", YEAR(orderdate) AS "The Year of the Order(s)", MONTH(orderdate) AS "The Month of the Order(s)", AVG(freight) AS "Average Order(s) of Value(s)"
FROM Sales.Orders
GROUP BY empid, YEAR(orderdate), MONTH(orderdate)
HAVING AVG(freight) > 150
ORDER BY "Average Order(s) of Value(s)" DESC;

**Proposition \[IV\] -** **Date-based Aggregation with Monthly Grouping and Freight**

- **Why Noteworthy?**
- _The combination of aggregating by year and month and the use of the HAVING clause makes this query very powerful. It is an ideal tool for identifying trends across multiple time periods and can highlight periods of low or high performance based on order volume and total orders._

In [ ]:
SELECT YEAR(orderdate) AS Year, MONTH(orderdate) AS Month, COUNT(*) AS Orders, SUM(freight) AS "Total Freight(s) (Goods or Cargo Being Transported)"
FROM Sales.Orders
GROUP BY YEAR(orderdate), MONTH(orderdate)
HAVING COUNT(*) > 5
ORDER BY year, month;

**Proposition \[V\] -** **Query to Return Orders with Specific Product Condition**

- **Why Noteworthy?**
- _This query is noteworthy for its focused filtering on price and discount, two common business factors that affect profitability. The use of BETWEEN for range filtering and a simple equality check (discount = 0) is efficient for pinpointing high-margin items or non-discounted sales in a given price range._

In [ ]:
SELECT orderid AS "Order Identification Number(s)", productid AS "Product Identification Number(s)", qty AS "Quantities", unitprice AS "Unit Price(s)"
FROM Sales.OrderDetails
WHERE unitprice BETWEEN 20 AND 50
  AND discount = 0;

**Proposition \[VI\] -** **Query for Employees Ordered by Last Name and Hire Date**

- **Why Noteworthy?**
- _This is a simple but effective example of multi-column sorting. The query is noteworthy because it provides two levels of sorting, which is a common pattern when managing lists that need to be organized hierarchically (e.g., last name first, then hire date)._

In [ ]:
SELECT empid AS "Employee Identification Number(s)", firstname AS "First Name(s)", lastname AS "Last Name(s)", hiredate AS "Date(s) of Hire"
FROM HR.Employees
ORDER BY lastname ASC, hiredate DESC;

**Proposition \[VII\] -** **Products with Highest Discount Offered in Orders**

- **Why Noteworthy?**
- _This query is interesting because it reveals how often and by how much products are discounted, which is valuable for pricing strategy and promotions. Using MAX helps to spot the highest possible discount for each product, rather than averaging._

In [ ]:
SELECT productid AS "Product Identification Number(s)", MAX(discount) AS "Maximum Discount Value(s)"
FROM Sales.OrderDetails
GROUP BY productid
ORDER BY "Maximum Discount Value(s)" DESC;

**Proposition \[VIII\] -** **Orders with a Product Quantity Greater Than 100 Units**

- **Why Noteworthy?**
- _This query helps identify bulk purchases or large transactions, which can be useful for inventory planning, identifying high-value customers, or analyzing demand for large quantities of specific products._

In [ ]:
SELECT orderid AS "Order Identification Number(s)", productid AS "Product Identification Number(s)", qty AS "Quantities"
FROM Sales.OrderDetails
WHERE qty > 100;

**Proposition \[IX\] -** **Identifying High-Value Customers with Large Orders and High Freight Costs**

- **Why Noteworthy?**
- _This query identifies high-value customers who place frequent, high-cost orders. It helps companies focus on top customers that drive significant revenue and freight expenses, making them prime targets for loyalty programs or special offers._

In [ ]:
SELECT custid "Customer Identification Number(s)", COUNT(*) AS Orders, AVG(freight) AS "Average Number(s) of Freight(s) (Goods or Cargo Being Transported)"
FROM Sales.Orders
WHERE freight > 100
GROUP BY custid
HAVING COUNT(*) > 10;

**Proposition \[X\] -** **Orders Where Total Value Exceeds $1,000**

- **Why Noteworthy?**
- _This query allows businesses to track high-value orders easily. It’s particularly useful for monitoring larger transactions or high-margin sales._

In [ ]:
SELECT orderid AS "Order Identification Number(s)", SUM(unitprice * qty) AS "Total Value(s) of the Order(s)"
FROM Sales.OrderDetails
GROUP BY orderid
HAVING SUM(unitprice * qty) > 1000;

# **PART \[II\] - NOTETAKING FOR CHAPTER 2 "SINGLE-TABLE QUERIES"**

**DATETRUNC Function**

- _The DATETRUNC function in SQL Server allows users to truncate a date and time value to a specified part, such as year, month, or day, effectively resetting the lower-level components to their starting point. It returns an output of the same type and fractional time scale as the input when the input is a date and time type. If the input is a character string, the result is returned as DATETIME2(7). The function supports various time parts, including year, month, day, hour, and more, with shorthand abbreviations like yy for year and mm for month. For instance, calling DATETRUNC(month, '20220212') returns 2022-02-01 00:00:00.0000000, which is the beginning of the month. This function is useful for aggregating data at different time intervals, ensuring that date comparisons and calculations align with the intended level of granularity._

**DATE\_BUCKET Function**

- _Introduced in SQL Server 2022, the DATE\_BUCKET function serves as an advanced version of DATETRUNC, allowing users to group dates into evenly spaced intervals or "buckets" based on a specified width. Unlike DATETRUNC, which simply resets a date to a given unit, DATE\_BUCKET lets users define an origin date and bucket width to create more flexible time-based groupings. This function is particularly useful for analyzing time-series data by segmenting it into predefined periods, such as weeks or quarters, for reporting and visualization purposes. It helps in scenarios where precise interval-based calculations are required, such as determining customer activity over regular time spans._

**ISDATE Function**

- _The ISDATE function in SQL Server determines whether a given character string can be converted into a valid date and time data type. It returns 1 if the input string is a valid date format and 0 otherwise. This function is useful when dealing with user input, ensuring that values can be safely processed without causing errors in date-based calculations. For example, SELECT ISDATE('20220212') returns 1, confirming that it is a valid date, while SELECT ISDATE('20220230') returns 0, as February 30th does not exist. This function is particularly helpful in data validation, where it ensures that incorrect or malformed dates do not disrupt query execution._

**FROMPARTS Functions**

- _The FROMPARTS functions in SQL Server allow users to construct date and time values from individual components such as year, month, day, hour, and minute. Various functions, including DATEFROMPARTS, DATETIME2FROMPARTS, and TIMEFROMPARTS, cater to different levels of precision and types of date-time representations. For instance, DATEFROMPARTS(2022, 02, 12) returns the date 2022-02-12, while DATETIMEFROMPARTS(2022, 02, 12, 13, 30, 5, 997) constructs a full timestamp. These functions simplify the process of working with dates, especially when dealing with data migration or formatting issues, by allowing precise control over each component of a date or time value._

**EOMONTH Function**

- _The EOMONTH function is used to retrieve the last day of the month for a given date. This function accepts an optional second argument that determines how many months to add or subtract before calculating the end of the month. For example, SELECT EOMONTH(SYSDATETIME()) returns the last day of the current month, while EOMONTH('20220212', 1) returns the last day of the following month, March 2022. The EOMONTH function simplifies date calculations in scenarios such as financial reporting, where determining the end of a billing cycle or fiscal month is crucial. It eliminates the need for manual date manipulation, making queries cleaner and more efficient._

**Alternative Expression for End-of-Month Calculation**

- _An alternative method to calculate the last day of a month involves using the DATEADD and DATEDIFF functions. This technique subtracts a reference date, such as '18991231', from the target date in terms of months, then adds that difference back to the reference date. While more complex than EOMONTH, this method allows flexibility in computing not only the last day of a month but also other time-based aggregations like the start or end of a quarter or year. This approach is valuable when working in environments where built-in functions like EOMONTH may not be available or when fine-tuned control over date calculations is required._

**GENERATE\_SERIES Function**

- _The GENERATE\_SERIES function, introduced in SQL Server 2022, generates a sequence of numbers within a specified range, making it useful for creating datasets on the fly. The function accepts three arguments: start\_value, stop\_value, and an optional step\_value, which defines the increment. By default, the step value is 1 for increasing sequences and -1 for decreasing sequences. For example, SELECT value FROM GENERATE\_SERIES(1, 10) produces numbers from 1 to 10. This function is particularly useful for generating sequences of dates when combined with DATEADD. For instance, it can create a list of all dates in a given year by incrementing days from a start date. This capability is beneficial in time-series analysis, reporting, and simulations._

**Querying Metadata in SQL Server**

- _SQL Server provides various tools to retrieve metadata about database objects, such as tables and columns, allowing users to understand and manage their database structures efficiently. These tools include catalog views, information schema views, and system stored procedures. Metadata queries can help database administrators and developers inspect table structures, check column properties, and optimize queries based on database schemas. For example, querying sys.tables lists all tables within a database, while sys.columns provides details about the columns in a specific table. This metadata access ensures better database management, debugging, and schema documentation._

**Catalog Views**

- _Catalog views in SQL Server provide system-level metadata about database objects, offering insights into tables, indexes, constraints, and more. These views are useful for querying information about a database’s schema and structure, allowing users to retrieve details such as table names, column properties, and object relationships. For instance, querying sys.tables returns a list of all tables, including their schema names, while sys.columns reveals column-specific metadata. These views are essential for managing large databases, automating schema documentation, and optimizing queries by understanding the underlying structure of database objects._

**Information Schema Views**

- _Information schema views offer a standardized way to query metadata across different SQL database systems. These views reside in the INFORMATION\_SCHEMA schema and provide details about tables, columns, constraints, and other database elements. Unlike catalog views, which contain SQL Server-specific metadata, information schema views follow the SQL standard, ensuring compatibility with multiple database systems. For example, querying INFORMATION\_SCHEMA.TABLES lists all base tables in a database, while INFORMATION\_SCHEMA.COLUMNS provides information about a table’s columns. These views are valuable for ensuring cross-platform compatibility and simplifying database maintenance._

**System Stored Procedures and Functions**

- _SQL Server includes a variety of system stored procedures and functions that simplify metadata retrieval and database management. These procedures internally query the system catalog and return structured metadata. Examples include sp\_tables, which lists available tables, sp\_help, which provides detailed information about a table's structure, and sp\_columns, which lists column details for a given table. Functions like SERVERPROPERTY, DATABASEPROPERTYEX, and OBJECTPROPERTY return specific properties about the server, database, and individual objects. These tools are particularly useful for database administrators who need to retrieve metadata dynamically, automate database documentation, or analyze schema changes efficiently._

# **PART \[III\] - EXERCISES FOR CHAPTER 2 "SINGLE-TABLE QUERIES"**

**Exercise (1)** 

- _Return orders placed in June 2015_
- _Tables involved: TSQLV4 database, Sales.Orders table_

In [4]:
-- USE TSQLV4;
-- GO

-- SELECT orderid,
--         orderdate,
--         custid,
--         empid
-- FROM Sales.Orders
-- WHERE orderdate >= '2015-06-01'
--   AND orderdate < '2015-07-01';

**Exercise (2)** 

- _Return orders placed on the last day of the month_
- _Tables involved: Sales.Orders table_

In [5]:
-- USE TSQLV4;
-- GO

-- SELECT orderid,
--        orderdate,
--        custid,
--        empid
-- FROM Sales.Orders
-- WHERE orderdate = EOMONTH(orderdate);

**Exercise (3)** 

- _Return employees with last name containing the letter 'e' twice or more_
- _Tables involved: HR.Employees table_

In [6]:
-- USE TSQLV4;
-- GO

-- SELECT empid,
--        firstname,
--        lastname
-- FROM HR.Employees
-- WHERE lastname LIKE '%e%e%';

**Exercise (4)** 

- _Return orders with total value(qty\*unitprice) greater than 10000_
- _Sorted by total value_
- _Tables involved: Sales.OrderDetails table_

In [7]:
-- USE TSQLV4;
-- GO

-- SELECT orderid,
--        SUM(qty * unitprice) AS totalvalue
-- FROM Sales.OrderDetails
-- GROUP BY orderid
-- HAVING SUM(qty * unitprice) > 10000
-- ORDER BY totalvalue DESC;

**Exercise (5)** 

- _Write a query against the HR.Employees table that returns employees_
- _With a last name that starts with a lower case letter._
- _Remember that the collation of the sample database_
- _Is case insensitive (Latin1\_General\_CI\_AS)._
- _For simplicity, you can assume that only English letters are used_
- _In the employee last names._
- _Tables involved: Sales.OrderDetails table_

In [8]:
-- USE TSQLV4;
-- GO

-- SELECT empid, lastname
-- FROM HR.Employees
-- WHERE lastname COLLATE Latin1_General_CS_AS LIKE '[a-z]%';

**Exercise (6)** 

- _Explain the difference between the following two queries_

In [9]:
-- Query 1
-- SELECT empid, COUNT(*) AS numorders
-- FROM Sales.Orders
-- WHERE orderdate < '20160501'
-- GROUP BY empid;
-- Query 1 counts only orders that occurred before May 1, 2016, ignoring orders placed afterward.

-- Query 2
-- SELECT empid, COUNT(*) AS numorders
-- FROM Sales.Orders
-- GROUP BY empid
-- HAVING MAX(orderdate) < '20160501';
-- Query 2 considers all orders but only includes employees whose latest order was before May 1, 2016.

**Exercise (7)** 

- _Return the three ship countries with the highest average freight for orders placed in 2015_
- _Tables involved: Sales.Orders table_

In [10]:
-- USE TSQLV4;
-- GO

-- SELECT TOP 3 shipcountry, AVG(freight) AS avgfreight
-- FROM Sales.Orders
-- WHERE YEAR(orderdate) = 2015
-- GROUP BY shipcountry
-- ORDER BY avgfreight DESC;

**Exercise (8)** 

- _Calculate row numbers for orders_
- _Based on order date ordering (using order id as tiebreaker)_
- _For each customer separately_
- _Tables involved: Sales.Orders table_

In [11]:
-- USE TSQLV4;
-- GO

-- SELECT custid,
--        orderdate,
--        orderid,
--        ROW_NUMBER() OVER (PARTITION BY custid ORDER BY orderdate, orderid) AS rownum
-- FROM Sales.Orders;

**Exercise (9)** 

- _Figure out and return for each employee the gender based on the title of courtesy_
- _Ms., Mrs. - Female, Mr. - Male, Dr. - Unknown_
- _Tables involved: HR.Employees table_

In [12]:
-- USE TSQLV4;
-- GO

-- SELECT empid,
--        firstname,
--        lastname,
--        titleofcourtesy,
--        CASE 
--            WHEN titleofcourtesy IN ('Ms.', 'Mrs.') THEN 'Female'
--            WHEN titleofcourtesy = 'Mr.' THEN 'Male'
--            ELSE 'Unknown'
--        END AS gender
-- FROM HR.Employees;

**Exercise (10)** 

- _Return for each customer the customer ID and region_
- _Sort the rows in the output by region_
- _Having NULLs sort last (after non-NULL values)_
- _Note that the default in T-SQL is that NULLs sort first_
- _Tables involved: Sales.Customers table_

In [13]:
-- USE TSQLV4;
-- GO

-- SELECT custid,
--        region
-- FROM Sales.Customers
-- ORDER BY 
--        CASE WHEN region IS NULL THEN 1 ELSE 0 END,
--        region;

# **PART \[IV\] - NATIONAL ASSOCIATION OF COLLEGES AND EMPLOYERS**

**Skills Acquired Through These National Association of Colleges and Employers Career Readiness Competencies For This Group Assignment:**  

-     _Equity & Inclusion: Fostered awareness and sensitivity towards diverse perspectives, promoting inclusivity and equality in professional settings._
-     _Career & Self-Development: Showcased the ability to set goals, identify personal strengths and weaknesses, and craft effective career development plans._
-     _Communication: Enhanced verbal and written communication skills to facilitate clear, concise interactions._
-     _Critical Thinking: Fostered analytical and problem-solving skills, approaching challenges with a systematic and innovative mindset._
-     _Professionalism: Cultivated a professional demeanor by adhering to ethical standards and demonstrating accountability and reliability in the workplace._
-     _Technology: Gained proficiency in relevant technologies to improve efficiency and productivity in job-related tasks._
-     _Leadership: Developed leadership skills, including motivating and guiding team members, fostering collaboration, and inspiring positive change._
-     _Teamwork: Learned to collaborate and communicate effectively in a team, appreciating diverse contributions and working towards common goals._